
#map {
    width: 100%;
    height: 100%;
}

.floating-button {
    position: absolute;
    z-index: 999;
    left: 50px;
    top: 10px;
}

.wrapper.style2 {
    /* This is an example of how to change colors in the template */
    background-color: #3f6e47;
}
    .wrapper.style2-2 {
        background-color: #3f6e47;
        background-image: url("images/light-tl.svg"), url("images/light-tr.svg");
        background-position: top left, top right;
        background-repeat: no-repeat, no-repeat;
        background-size: 25em, 25em;
        color: #fff;
    }

        .wrapper.style2-2 input[type="button"]:hover,
        .wrapper.style2-2 input[type="submit"]:hover,
        .wrapper.style2-2 input[type="reset"]:hover,
        .wrapper.style2-2 button:hover,
        .wrapper.style2-2 .button:hover {
            background: rgba(255, 255, 255, 0.15) !important;
        }

        .wrapper.style2-2 input[type="button"].primary,
        .wrapper.style2-2 input[type="submit"].primary,
        .wrapper.style2-2 input[type="reset"].primary,
        .wrapper.style2-2 button.primary,
        .wrapper.style2-2 .button.primary {
            background: #fff;
            border-color: #fff;
            color: #83d3c9 !important;
        }

            .wrapper.style2-2 input[type="button"].primary:hover,
            .wrapper.style2-2 input[type="submit"].primary:hover,
            .wrapper.style2-2 input[type="reset"].primary:hover,
            .wrapper.style2-2 button.primary:hover,
            .wrapper.style2-2 .button.primary:hover {
                border-color: inherit !important;
                color: #fff !important;
            }

input[type="button"].head,
input[type="submit"].head,
input[type="reset"].head,
button.head,
.button.head {
    min-width: 18em;
    background: #3f6e47;
    border-color: #3f6e47;
    color: #fff !important;
    margin-bottom: 100px;
    margin-top: 200px;
}

    input[type="button"].head:hover,
    input[type="submit"].head:hover,
    input[type="reset"].head:hover,
    button.head:hover,
    .button.head:hover {
        background: #6ca77b !important;
        border-color: #6ca77b !important;
    }
    
            
.banner-transparency {
    opacity: 0.2;
    background-color: #fff;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background-size: cover; /* ensure the transparency overlay covers the entire background */
}

.custom-banner {
    /*Change the background image here*/
    background-image: url('../../images/background.jpg') !important;
    background-size: cover !important;
    /* background-attachment: scroll;
    background-color: #5d6458; */
    

    /* Original background, for reference
    background-attachment: scroll, scroll, scroll, fixed;
    background-color: #645862;
    background-image: url("images/light-bl.svg"), url("images/light-br.svg"), url("images/overlay.png"), url("../../images/banner.jpg");
    background-position: bottom left, bottom right, top left, top center;
    background-repeat: no-repeat, no-repeat, repeat, no-repeat;
    background-size: 25em, 25em, auto, cover;
    */

    width: 100%;
    height: 100%;
    position: relative; 
}

/*Popup Styles*/
.ol-popup {
    position: absolute;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 280px;
}

.ol-popup:after,
.ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}

.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}

.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}

.ol-popup-closer:after {

}

.coordinate{
    position: absolute;
    z-index: 999;
    right: 20px;
    bottom: 20px;
    border:1px solid #139128;
    background: white;
    padding:5px;
    border-radius: 1px;
}

/*Add your new styles after this line*/

.circular-button {
    display: inline-block;
    padding: 1em; 
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    border: 2px solid #ffffff; 
    background-color: #9797978e; 
    color: #ffffff; 
    width: 6em; 
    height: 6em; 
    line-height: 1m; 
    font-size: 1em; 
    font-weight: bold;
    cursor: pointer; 
    margin-top: 200px
}

.circular-button:hover {
    background-color: #555555; 
}


.profile-image {
    width: 250px; 
    height: 250px; 
    border-radius: 50%; 
    overflow: hidden; 
    margin: 0 auto; 
    margin-bottom: 40px; 
    position: relative; 
}

.profile-image img {
    width: 100%; 
    height: auto; 
    object-fit: cover; 
}

.container.profile {
    width: 100%; 
    box-sizing: border-box; 
    padding: 50px; 
    background-color: #ffffff; 
    border: 1px solid #ffffff;
    text-align: center;
}


.custom-icon {
    height: 60px;
    width: auto; 
    display: block; 
    margin: 0 auto 20px auto;
    margin-bottom: 20px 
}

.content.center {
    text-align: center; 
}

.content, .sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 2em
}

/* .col-8, */
.col-4.low {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/* toggle paragraph */
.hidden {
    display: none;
}

.toggle-body {
    text-align: left;
    /* margin-top: 50px; */
    /* padding: 10px 20px; */
    margin: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    position: relative; 
}

.toggle-title {
    padding: 0;
    /* font-size: 16px; */
    cursor: pointer;
    /* margin-bottom: 20px; */
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
    .toggle-title.active{
        /* color:#96dad1; */
        color:#96daad;
        font-weight: bold;
    }

    .toggle-title.arrow {
        margin-right: 8px; 
    }

    .indented-paragraph {
        text-align: justify;
        padding-left: calc(10px + 8px); 
        /* margin: 0; */
    }

.row.special {
    margin-top: 20px;
}

.image-container {
    overflow: hidden;
}

.image-container img {
    display: block;
    width: 100%;
    height: auto;
    transform: scale(0.75);
    transition: transform 0.5s ease;
}

.image-container img.show {
    transform: scale(1);
}

/* math */
    .centered-formula {
        text-align: center;
        display: block;
        width: 100%;
        margin: 20px 0
    }

/* piechart */
#PieChart {
    width: 200px; 
    height: 200px; 
}

#PieChart2 {
    width: 200px; 
    height: 200px; 
}

.chart-container {
    position: relative;
    width: 400px; 
    height: 400px; 
    align-items: center;
}


.button.small.clicked {
    background-color: #4f8d59; 
    color:white
}

.image-container img {
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.image-container img.show {
    opacity: 1;
    transform: scale(1);
}

#dataset-80-20 {
    display: flex;
}
